section
    header
        h2 Főételek
    div(class='meals')
        each meal in main_dishes
            article(class='meal')
                header(class='meal-title')= meal.title
                div(class=['bg-image', 'bg-center-center'] style='background-image: url(#{meal.image});')
section
    header
        h2 Levesek
    div(class='meals')
        each meal in soups
            article(class='meal')
                header(class='meal-title')= meal.title
                div(class=['bg-image', 'bg-center-center'] style='background-image: url(#{meal.image});')
section
    header
        h2 Desszertek
    div(class='meals')
        each meal in desserts
            article(class='meal')
                header(class='meal-title')= meal.title
                div(class=['bg-image', 'bg-center-center'] style='background-image: url(#{meal.image});')
