h2 Főételek
each meal in main_dishes
    h3= meal.title
    img(src=meal.image)
h2 Levesek
each meal in soups
    h3= meal.title
    img(src=meal.image)
h2 Desszertek
each meal in desserts
    h3= meal.title
    img(src=meal.image)
